<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Author</title>
</head>
<body>
    <h1> Are you sure you want to delete this author? </h1>

    <form action="/deleteAuthor" method="POST">
        <input type="hidden" name="authorId" value="<%= authorInfo[0].authorId %>">
        <button> Yes, Delete Author! </button>
    </form>
</body>
</html>